@model IEnumerable<DLSM.Models.Staff>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (null != ViewBag.Msg)
    {
        <script type="text/javascript">
            alert("@ViewBag.Msg");
        </script>
    }
    if (Session["UserID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<script type="text/javascript">
    //Search
    $(document).ready(function () {

        var table = $('#tbMain').DataTable({
            "dom": "rtp",
            "pageLength": 20,
            "language": {
                "paginate": {
                    "next": "ถัดไป",
                    "previous": "ก่อนหน้า"
                }
            }
        });

        $("#btnSearch").click(function () {
            var searchtext = $("#SeachC").val().trim();

            if (searchtext != "") {
                window.location.href = "/Staffs/SearchStaff?SearchText=" + searchtext;
            } else {
                window.location.href = "/Staffs/Index";
            }

            //$.ajax({
            //    type: "Post",
            //    url: "/Staffs/SearchStaff?SearchText=" + searchtext,
            //    contentType: "html",
            //    success: function (response) {
            //        $("#SearchStaffRow").html(response);
            //    }
            //});
        })
    })


</script>

<h2>เจ้าหน้าที่</h2>

<div class="row">
    <div class="col-xs-12 col-sm-3">
        <div class="search-form" style="border-right:1px solid #777;height:400px;">
            <div class="search">
                <div class="menu-search" style="text-align:center;">
                    <p style="margin-bottom: 0;text-align:left;padding-left:30px;">ค้นหา</p>
                    <input class="find" name="SeachC" id="SeachC" style="width:220px;" value='@Request.QueryString["SearchText"]' />
                </div>

                <ul class="menu-items" style="list-style: none;margin: 0;padding:0;text-align:center;">
                    <li class="menu-item" style="padding-top:10px;">
                        <button class="btn btn-primary" id="btnSearch" style="width:130px;" type="submit">สืบค้น</button>
                    </li>

                    <li class="menu-item" style="padding-top:10px;">
                        @*<button class="btn btn-success" type="submit" style="width:130px;"></button>*@
                        <a href="\Staffs\Create" style="color:white;width:130px;cursor:pointer;" class="btn btn-primary">เพิ่มรายการ</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-9">
        <table class="table table-hover" id="tbMain">
            <thead>
                <tr>
                    <th>
                        ชื่อเจ้าหน้าที่
                    </th>
                    <th>
                        เบอร์โทรศํพท์
                    </th>
                    <th>
                        e-mail
                    </th>


                    <th>
                        สำนักงานขนส่ง
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="SearchStaffRow">
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TelNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WhName)
                            </td>
                            <td>
                                <a href="\Staffs\Edit?id=@item.ID"><i class="fa fa-fw fa-pencil-square fa-2x"></i></a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>