@model DLSM.Models.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SelectList CtID = ViewBag.CtID;
    if (null != ViewBag.Msg)
    {
        <script type="text/javascript">
            alert("@ViewBag.Msg");
        </script>
    }

    if (Session["UserID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }

}

<script type="text/javascript">
    $(document).ready(function () {

        // fixed add attribute
        $("#CtID").attr("data-val-required", "กรุณาเลือกกลุ่มวัสดุ");


        //Save Data
        $("#btnSave").on("click", function () {
            //e.preventDefault();

            var isValid = true;

            $("#inputDiv :input").each(function () {
                //Validate form
                var acceptElement = ["Name", "Code", "CtID"];
                // validate element if element in array
                if ($.inArray($(this).attr("id"), acceptElement) !== -1) {
                    if ($(this).val() == "") {
                        var txtRequire = $(this).attr("data-val-required");
                        var id = $(this).attr("id");

                        $("#inputDiv").find("[data-valmsg-for=" + id + "]").html(txtRequire);

                        isValid = false;
                    } else {
                        var id = $(this).attr("id");

                        $("#inputDiv").find("[data-valmsg-for=" + id + "]").html("");
                    }
                }
            });

            if (!isValid) {
                return false;
            }

            var objJson = {
                Code: $("#Code").val(),
                Name: $("#Name").val(),
                CtID: $("#CtID :selected").val(),
                MinStock: $("#MinStock").val(),
                SerialControl: $("#SerialControl").is(':checked'),
                IsAsset: $("#IsAsset").is(':checked')
            };
            console.log(objJson);
            $.ajax({
                type: "POST",
                url: "@Url.Action("Create")",
                data: JSON.stringify(objJson),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response == 'success') {
                        alert("บันทึกข้อมูลเรียบร้อยแล้ว");
                        window.location.href = "Index";
                    }
                    else {
                        alert(response);
                    }
                },
                error: function (response) {
                    alert(response);
                }
            });
        });


        $("#IsAsset").on("click", function () {
            if (this.checked) {
                $("#SerialControl").prop('checked', true);
            }
        });

    });
</script>

<style>

    .form-l{
        max-width:500px;
        width:450px;
    }

</style>

<h2>วัสดุ</h2>

@using (Html.BeginForm())
{

    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <div name="inputDiv" id="inputDiv">
                <div class="form-horizontal">
                    <table class="table" style="min-width:70%">
                        <tr>
                            <td style="padding: 10px;" colspan="2">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    รหัส
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" , maxlength = "40" } })
                                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger", required = "required" })
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 10px;width:800px;max-width:800px;" colspan="2">
                                <div class="form-group">
                                    ชื่อวัสดุ
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control form-l", maxlength = "255", style="width:800px;max-width:800px;" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" , required = "required" })
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 10px;" colspan="2">
                                <div class="form-group">
                                    กลุ่มวัสดุ
                                    <div class="col-md-10">
                                        @Html.DropDownList("CtID" , CtID, "----กรุณาเลือก----", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CtID, "", new { @class = "text-danger",required = "required" })
                                    </div>
                                </div>
                            </td>

                            <td style="padding: 10px;display:none;" >
                                <div class="form-group">
                                    จำนวนขั้นต่ำ
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.MinStock, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.MinStock, "", new { @class = "text-danger", required = "required" })
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 10px;">
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <span>
                                            เลขคุม
                                            @*<input type="checkbox" name="SerialControl" class="form-control" id="SerialControl" />*@
                                            @Html.CheckBox("SerialControl", new { @class = "form-control", @style = "display:unset;margin-left: -120px;" })
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td style="padding: 10px;">
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <span>
                                            Asset
                                            @Html.CheckBox("IsAsset", new { @class = "form-control", @style = "display:unset;margin-left: -120px;" })
                                        </span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
            
        
        <div class="col-xs-12 col-sm-3">
                <div class="search-form" style="border-left:1px solid #777;height:400px;">
                    <div class="search">
                        <ul class="menu-items" style="list-style: none;margin: 0;padding:0;text-align:center;padding-bottom:10px;">
                            <li class="menu-item" style="padding-top:30px;">
                                @*<button class="btn btn-warning" type="submit" style="width:130px;"></button>*@
                                <a href="/Products/Index" style="color:white;width:130px;cursor:pointer;" class="btn btn-warning">ออก</a>
                            </li>
                            <li class="menu-item" style="padding-top:30px;">
                                <button class="btn btn-success" type="button" name="btnSave" id="btnSave" style="width:130px;">บันทึก</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

           

    </div>
}