@model IEnumerable<DLSM.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SelectList CateList = ViewBag.CateList;
    if (null != ViewBag.Msg)
    {
        <script type="text/javascript">
            alert("@ViewBag.Msg");
        </script>
    }
    if (Session["UserID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<script type="text/javascript">
    //Search
    $(document).ready(function () {
        $("#btnSearch").click(function () {
            var searchtext = $("#SeachC").val().trim();
            var searchcate = $("#SeachCateID :selected").val();
            
            if (searchtext != "" || searchcate != "") {
                window.location.href = "/Products/SearchProduct?SearchText=" + searchtext + "&SearchCate=" + searchcate;
            } else {
                window.location.href = "/Products/Index";
            }
            
            //$.ajax({
            //    type: "Post",
            //    url: "/Products/SearchProduct?SearchText=" + searchtext + "&SearchCate=" + searchcate,
            //    contentType: "html",
            //    success: function (response) {
            //        $("#SearchProRow").html(response);
            //    }
            //});
        })
    })


</script>

<h2>วัสดุ</h2>

<div class="row">
    <div class="col-xs-12 col-sm-3">
        <div class="search-form" style="border-right:1px solid #777;height:400px;">
            <div class="search">
                <div class="menu-search" style="text-align:center;">
                    <p style="margin-bottom: 0;text-align:left;padding-left:30px;">ค้นหา</p>
                    <input class="find" name="SeachC" id="SeachC" style="width:220px;">
                </div>
                <div class="menu-search" style="text-align:center;">
                    <p style="margin-bottom: 0;text-align:left;padding-left:20px;margin-left:10px;">กลุ่มวัสดุ</p>
                    @Html.DropDownList("SeachCateID", CateList, "-----กรุณาเลือก-----", new { @class = "form-control", @style = "width:220px;padding-left:30px;margin-left:30px;"})         
                </div>
                <ul class="menu-items" style="list-style: none;margin: 0;padding:0;text-align:center;">
                    <li class="menu-item" style="padding-top:10px;">
                        <button class="btn btn-primary" id="btnSearch" style="width:130px;" type="submit">สืบค้น</button>
                    </li>

                    <li class="menu-item" style="padding-top:10px;">
                        @*<button class="btn btn-success" type="submit" style="width:130px;"></button>*@
                        <a href="/Products/Create" style="color:white;width:130px;cursor:pointer;" class="btn btn-primary">เพิ่มรายการ</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-9">
        <table class="table table-hover" >
            <tbody id="SearchProRow">
                <tr>
                    <th>
                        รหัส
                    </th>
                    <th>
                        ชื่อวัสดุ
                    </th>
                    <th>
                        กลุ่มวัสดุ
                    </th>
                    @*<th >
                        จำนวนขั้นต่ำ
                    </th>*@
                    <th></th>
                </tr>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryName)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.MinStock)
                            </td>*@

                            <td>
                                <a href="\Products\Edit?id=@item.ID"><i class="fa fa-fw fa-pencil-square fa-2x"></i></a>
                            </td>
                        </tr>
                    }
                }
                </tbody>
        </table>
</div>
