@model DLSM.Models.Issue

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Issue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Picture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Commend.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commend.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Topic.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TopicGroup.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopicGroup.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Warehouse.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Warehouse.Code)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
